.grid {
    
    display: grid;
    padding-top: 2%;
    justify-content: center;
    grid-template-columns: 27% 27%;
    grid-auto-rows: minmax(27%, auto);
    grid-gap: 1%;

}

.h1 {
    color:grey;
    background-color: black;
    position:absolute;
    left:7%;
    top:0.1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}
.h2 {
    color:grey;
    background-color: black;
    position:absolute;
    right:9%;
    top:0.1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}