.grid {
    
    display: grid;
    padding-top: 2%;
    justify-content: center;
    grid-template-columns: 27% 27%;
    grid-auto-rows: minmax(27%, auto);
    grid-gap: 1%;

}

.h1 {
    color:white;
    background-color: black;
}